<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
  <property>
    <name>hbase.cluster.distributed</name>
    <value>true</value>
  </property>
  <property>
    <name>hbase.superuser</name>
    <value>root</value>
  </property>
  <property>
    <name>hbase.coprocessor.region.classes</name>
    <value>org.apache.hadoop.hbase.security.access.AccessController</value>
  </property>
  <property>
    <name>hbase.coprocessor.master.classes</name>
    <value>org.apache.hadoop.hbase.security.access.AccessController</value>
  </property>
  <property>
    <name>hbase.rpc.engine</name>
    <value>org.apache.hadoop.hbase.ipc.SecureRpcEngine</value>
  </property>
  <property>
    <name>hbase.regionserver.codecs</name>
    <value>snappy,lzo</value>
  </property>
  <property>
    <name>hbase.tmp.dir</name>
    <value>/bigdata1/hbase/tmp</value>
  </property>
  <property>
    <name>hbase.rootdir</name>
    {{range $dir := lsdir "/hosts/hbase-hdfs-master/"}}{{$node := printf "/hosts/hbase-hdfs-master/%s/node_id" $dir}}
    <value>hdfs://{{getv $node}}:9000/hbase</value>{{end}}
  </property>
  <property>
    <name>hbase.fs.tmp.dir</name>
    <value>/bigdata1/hbase/hbase-staging</value>
  </property>
  <property>
    <name>hbase.zookeeper.quorum</name>
    {{if exists "/links/zk_service/cluster/endpoints/client/port"}}{{$port := getv "/links/zk_service/cluster/endpoints/client/port"}}
    <value>{{range $i, $host := ls (printf "/links/zk_service/hosts")}}{{$ip := printf "/links/zk_service/hosts/%s/ip" $host}}{{if $i}},{{end}}{{getv $ip}}:{{$port}}{{end}}</value>
    {{else}}
    <value>{{range $i, $host := ls (printf "/links/zk_service/hosts")}}{{$ip := printf "/links/zk_service/hosts/%s/ip" $host}}{{if $i}},{{end}}{{getv $ip}}:2181{{end}}</value>
    {{end}}
  </property>
  <property>
    <name>hbase.zookeeper.property.clientPort</name>
    {{if exists "/links/zk_service/cluster/endpoints/client/port"}}
    <value>{{getv "/links/zk_service/cluster/endpoints/client/port"}}</value>
    {{else}}
    <value>2181</value>
    {{end}}
   </property>
  <property>
    <name>zookeeper.znode.parent</name>
    <value>/hbase/{{getv "/cluster/cluster_id"}}</value>
  </property>
  <property>
    <name>hbase.regionserver.handler.count</name>
    <value>{{getv "/env/hbase.regionserver.handler.count"}}</value>
  </property>
  <property>
    <name>zookeeper.session.timeout</name>
    <value>{{getv "/env/zookeeper.session.timeout"}}</value>
  </property>
  <property>
    <name>hbase.hregion.majorcompaction</name>
    <value>{{getv "/env/hbase.hregion.majorcompaction"}}</value>
  </property>
  <property>
    <name>hbase.hstore.blockingStoreFiles</name>
    <value>{{getv "/env/hbase.hstore.blockingStoreFiles"}}</value>
  </property>
  <property>
    <name>hbase.regionserver.optionalcacheflushinterval</name>
    <value>{{getv "/env/hbase.regionserver.optionalcacheflushinterval"}}</value>
  </property>
  <property>
    <name>hfile.block.cache.size</name>
    <value>{{getv "/env/hfile.block.cache.size"}}</value>
  </property>
  <property>
    <name>hfile.index.block.max.size</name>
    <value>{{getv "/env/hfile.index.block.max.size"}}</value>
  </property>
  <property>
    <name>hbase.hregion.max.filesize</name>
    <value>{{getv "/env/hbase.hregion.max.filesize"}}</value>
  </property>
  <property>
    <name>hbase.master.logcleaner.ttl</name>
    <value>{{getv "/env/hbase.master.logcleaner.ttl"}}</value>
  </property>
  <property>
    <name>hbase.ipc.server.callqueue.handler.factor</name>
    <value>{{getv "/env/hbase.ipc.server.callqueue.handler.factor"}}</value>
  </property>
  <property>
    <name>hbase.ipc.server.callqueue.read.ratio</name>
    <value>{{getv "/env/hbase.ipc.server.callqueue.read.ratio"}}</value>
  </property>
  <property>
    <name>hbase.ipc.server.callqueue.scan.ratio</name>
    <value>{{getv "/env/hbase.ipc.server.callqueue.scan.ratio"}}</value>
  </property>
  <property>
    <name>hbase.regionserver.msginterval</name>
    <value>{{getv "/env/hbase.regionserver.msginterval"}}</value>
  </property>
  <property>
    <name>hbase.regionserver.logroll.period</name>
    <value>{{getv "/env/hbase.regionserver.logroll.period"}}</value>
  </property>
  <property>
    <name>hbase.regionserver.regionSplitLimit</name>
    <value>{{getv "/env/hbase.regionserver.regionSplitLimit"}}</value>
  </property>
  <property>
    <name>hbase.balancer.period</name>
    <value>{{getv "/env/hbase.balancer.period"}}</value>
  </property>
  <property>
    <name>hbase.regions.slop</name>
    <value>{{getv "/env/hbase.regions.slop"}}</value>
  </property>
  <property>
    <name>io.storefile.bloom.block.size</name>
    <value>{{getv "/env/io.storefile.bloom.block.size"}}</value>
  </property>
  <property>
    <name>hbase.rpc.timeout</name>
    <value>{{getv "/env/hbase.rpc.timeout"}}</value>
  </property>
  <property>
    <name>hbase.column.max.version</name>
    <value>{{getv "/env/hbase.column.max.version"}}</value>
  </property>
  <property>
    <name>hbase.security.authorization</name>
    <value>{{getv "/env/hbase.security.authorization"}}</value>
  </property>
  {{if exists "/env/qingcloud.phoenix.on.hbase.enable"}}{{$phoenix := getv "/env/qingcloud.phoenix.on.hbase.enable"}}
    {{if eq $phoenix "true"}}
  <property>
    <name>phoenix.functions.allowUserDefinedFunctions</name>
    <value>{{getv "/env/phoenix.functions.allowUserDefinedFunctions"}}</value>
  </property>
  <property>
    <name>phoenix.transactions.enabled</name>
    <value>{{getv "/env/phoenix.transactions.enabled"}}</value>
  </property>
  <property>
    <name>hbase.regionserver.wal.codec</name>
    <value>org.apache.hadoop.hbase.regionserver.wal.IndexedWALEditCodec</value>
  </property>
  <property>
    <name>hbase.region.server.rpc.scheduler.factory.class</name>
    <value>org.apache.hadoop.hbase.ipc.PhoenixRpcSchedulerFactory</value>
  </property>
  <property>
    <name>hbase.rpc.controllerfactory.class</name>
    <value>org.apache.hadoop.hbase.ipc.controller.ServerRpcControllerFactory</value>
  </property>
  <property>
    <name>data.tx.snapshot.dir</name>
    <value>/tephra/snapshots</value>
  </property>
    {{end}}
  {{end}}
</configuration>