<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
  <property>
    <name>fs.defaultFS</name>
    {{range $dir := lsdir "/hosts/hbase-hdfs-master/"}}{{$node := printf "/hosts/hbase-hdfs-master/%s/node_id" $dir}}
    <value>hdfs://{{getv $node}}:9000</value>{{end}}
  </property>
  <property>
    <name>hadoop.tmp.dir</name>
    <value>/bigdata1/hadoop/tmp</value>
  </property>
  <property>
    <name>dfs.hosts.exclude</name>
    <value>/opt/hadoop/etc/hadoop/exclude</value>
  </property>
  <property>
    <name>io.file.buffer.size</name>
    <value>131072</value>
  </property>
  <property>
    <name>fs.trash.interval</name>
    <value>{{getv "/env/fs.trash.interval" "1440"}}</value>
  </property>
</configuration>