#!/bin/sh

pid=`ps aux | grep java | grep HMaster | grep -v grep| awk '{print $1}'`
if [ "x$pid" = "x" ]
then
  echo "HMaster is not running"
  USER=root /opt/hbase/bin/hbase-daemon.sh start master
fi

{{range $i, $host := ls (printf "/hosts/hbase-master")}}
  {{if eq $i 0}}
    {{$ip := printf "/hosts/hbase-master/%s/ip" $host}}
    {{$ip := getv $ip}}
    {{$local_ip := getv "/host/ip"}}
    {{if eq $ip $local_ip}}
      pid=`ps aux | grep java | grep RESTServer | grep -v grep| awk '{print $1}'`
      if [ "x$pid" = "x" ]
      then
       echo "RESTServer is not running"
       USER=root /opt/hbase/bin/hbase-daemon.sh start rest -p 8000
      fi

      pid=`ps aux | grep java | grep ThriftServer | grep -v grep| awk '{print $1}'`
      if [ "x$pid" = "x" ]
      then
        echo "ThriftServer is not running"
        USER=root /opt/hbase/bin/hbase-daemon.sh start thrift2
      fi

      {{if exists "/env/qingcloud.phoenix.on.hbase.enable"}}
        phoenix={{getv "/env/qingcloud.phoenix.on.hbase.enable" "false"}}
        {{if exists "/env/phoenix.transactions.enabled"}}
          transactions={{getv "/env/phoenix.transactions.enabled" "false"}}
          if [ "$phoenix" = "true" ];then
            if [ "$transactions" = "true" ];then
              pid=`ps aux | grep java | grep -v grep | grep -v HMaster | grep RESTServer | grep -v ThriftServer | awk '{print $1}'`
              if [ "x$pid" = "x" ]
              then
                echo "Tephra is not running"
                USER=root /opt/hbase/bin/tephra start
              fi
            fi
          fi
        {{end}}
      {{end}}
    {{end}}
  {{end}}
{{end}}