[database]
{{if eq (getv "/env/database") "remote"}}
# database_server_local=false
{{else}}
# database_server_local=true
{{end}}

[hive]
{{if ls (printf "/hosts/hive-hiveserver2/")}}
# hiveserver2_server_local=false
{{else}}
# hiveserver2_server_local=true
{{end}}
