<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>hive.server2.thrift.port</name>
        <value>10001</value>
    </property>
    {{range $role := lsdir "/hosts"}}
      {{range $dir := lsdir (printf "/hosts/%s" $role)}}{{$ip := getv (printf "/hosts/%s/%s/ip" $role $dir)}}
        {{if eq (getv "/host/ip") $ip}} 
          {{if eq $role "hive-hiveserver2"}}
    <property>
          {{range $host := lsdir "/hosts/hive-server"}}{{$host_ip := getv (printf "/hosts/hive-server/%s/ip" $host)}}
	    <name>hive.metastore.uris</name>
	    <value>thrift://{{$host_ip}}:9083</value>{{end}}
    </property>
          {{else}}
            {{if eq (getv "/env/database") "remote"}}
    <property>
        <name>javax.jdo.option.ConnectionURL</name>
        <value>jdbc:mysql://{{getv "/env/database_host"}}:{{getv "/env/database_port"}}/{{getv "/env/database_name"}}?characterEncoding=UTF-8</value>
    </property>
    <property>
        <name>javax.jdo.option.ConnectionDriverName</name>
        <value>com.mysql.jdbc.Driver</value>
    </property>
    <property>
        <name>javax.jdo.option.ConnectionUserName</name>
        <value>{{getv "/env/database_user"}}</value>
    </property>
    <property>
        <name>javax.jdo.option.ConnectionPassword</name>
        <value>{{getv "/env/database_password"}}</value>
    </property>
            {{else}}
    <property>
        <name>javax.jdo.option.ConnectionURL</name>
        <value>jdbc:mysql://localhost:3306/hive?characterEncoding=UTF-8</value>
    </property>
    <property>
        <name>javax.jdo.option.ConnectionDriverName</name>
        <value>com.mysql.jdbc.Driver</value>
    </property>
    <property>
        <name>javax.jdo.option.ConnectionUserName</name>
        <value>ubuntu</value>
    </property>
    <property>
        <name>javax.jdo.option.ConnectionPassword</name>
        <value>ubuntu</value>
    </property>
            {{end}}
          {{end}}
        {{end}} 
      {{end}}
    {{end}}
</configuration>
