    {{getv "/host/ip"}} localhost
    # hive hosts
    {{range $role := lsdir "/hosts"}}
    {{range $dir := lsdir (printf "/hosts/%s" $role)}}{{$ip := getv (printf "/hosts/%s/%s/ip" $role $dir)}}
    {{if eq (getv "/host/ip") $ip}} 
    # role="{{$role}}"
    {{end}} 
    {{$ip}} {{$dir}}{{end}}
    {{end}}

{{$name := "hadp_service"}}
{{if ls (printf "/links/%s" $name)}}
    {{printf "# %s hosts" $name}}
    {{range $dir := lsdir (printf "/links/%s/hosts/yarn-master/" $name)}}{{$ip := printf "/links/%s/hosts/yarn-master/%s/ip" $name $dir}}
    {{getv $ip}} {{$dir}}{{end}}
    {{range $dir := lsdir (printf "/links/%s/hosts/hdfs-master/" $name)}}{{$ip := printf "/links/%s/hosts/hdfs-master/%s/ip" $name $dir}}
    {{getv $ip}} {{$dir}}{{end}}
    {{range $dir := lsdir (printf "/links/%s/hosts/hadoop-slave/" $name)}}{{$ip := printf "/links/%s/hosts/hadoop-slave/%s/ip" $name $dir}}
    {{getv $ip}} {{$dir}}{{end}}
{{end}}
